/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-mar-2017, 19:26:03
    Author     : Javier Argente Micó
*/

* {
    padding: 0px;
}

#menu {
    /*margin: auto;*/
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    /*position: fixed;*/
}

ul, lo {
    list-style: none;
}

.nav li a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover {
    background-color: grey;
}

.nav > li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

/*----------------------------------------------*/

td{
    margin: 15px;
    padding: 15px;
}